<!DOCTYPE HTML>
<html>

<head>
    <title>Ruizhi Cheng - George Mason University</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/img/msu-favicon.jpeg" />
    <meta name="description" content="Ruizhi Cheng's Homepage - George Mason University" />
    <meta name="keywords" content="Ruizhi Cheng, George Mason, Yui-Chi Shing" />
    <meta http-equiv="content-type" content="text/html; charset=KaiTi_GB2312" />
    <meta name="author" content="Ruizhi Cheng">
    <meta name="google-site-verification" content="uzCuyuDeIcvIgSEYbxpHc9oCNI7Y2i4njSwS563f4EY" />

    <!-- <link rel="stylesheet" href="static/css/font-awesome/static/css/font-awesome.min.css"> -->
    <script src="https://kit.fontawesome.com/2e3694663a.js"></script>
    <link href="static/css/bootstrap-toggle.min.css" rel="stylesheet">
    <!-- <link href="static/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400&family=Raleway:wght@400;500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link href="static/css/lightbox.css" rel="stylesheet" />
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/lightbox.js"></script>
    <script src="static/js/main.js"></script>

</head>

<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div class="name">
                    <h1>Ruizhi Cheng 

                    </h1>
                    <!--<h2>Search to Research.</h2>-->
                    <br>
                    <!-- <h2>Ph.D. Candidate</h2> -->
                    <h2>Research Collaborator</h2>
                    <!-- <h2><a href='https://cs.gmu.edu/'>Department of Computer Science</a></h2> -->
                    
                    <h2><a href='https://gmu.edu/'>Meta Platforms Inc.</a></h2>
                    <!-- <h2><a>Fairfax, VA, USA</a></h2> -->
                    <!-- <br> -->
                    <!-- <h2>Currently working as a Researcher at <a href="https://en.wikipedia.org/wiki/Meta_Platforms">Meta</a> -->
                        
                     <h2><a>Menlo Park, CA, USA</a></h2>
                    
                     <br>
                    
            
                    <!-- <h2>Email: rcheng4 [at] gmu [dot] edu <br> -->
                        <h2>Email: ruizhicheng [at] meta [dot] com <br>

                    <!-- <a href="cv/Ruizhi_Cheng_CV.pdf">[CV]</a> -->
                     <a target='blank' href="https://scholar.google.com/citations?user=u0ZFxFsAAAAJ&hl=en">[Google
							Scholar]</a>

                        <a target='blank' href="https://www.linkedin.com/in/ruizhi-cheng/">[LinkedIn]</a>
                        <a target='blank' href="https://github.com/felixshing">[Github]</a>



                    </h2>

<!--                        <a target='blank' href="https://publons.com/researcher/4232616/chenning-li/">[Publons]</a>-->

                        <!-- <h2><span class='highlight'>I am actively seeking a research internship position for summer 2024.</span></h2> -->
                </div>
                <div class="avatar">
                    <span class="right"><img width="280px" src="./photo/ruizhi.jpeg" alt="personal image" /></span>
                </div>
                <div class="map">
                    <span class="left">
                    <a href="https://clustrmaps.com/site/1bp1y"  title="Visit tracker">
                        <img width="280px"  src="//www.clustrmaps.com/map_v2.png?d=SAnQIhZ2JG_GRflbaaapAy82TVwlSVpdCE10a_yAYRU&cl=ffffff" alt="map" /></a>

                    </span>
<!--                </div>-->
            </div>
            <div id="menubar">
<!--                <div id="banner">-->
<!--                    &lt;!&ndash; <img height="25px" src="./static/img/thu-logo.png"> &nbsp;&nbsp;&nbsp; &ndash;&gt;-->
<!--                    <img height="25px" src="./static/img/msu-logo.png">-->
<!--                </div>-->
                <ul id="menu">
                    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                    <li class=""><a href="index.html">Home</a></li>
                    <span>|</span>
                    <li class=""><a href="#intro">Intro</a></li>
                    <!-- <span>|</span>
                    <li class=""><a href="#research">Research</a></li> -->
                    <span>|</span>
                    <li class=""><a href="#pub">Pubs</a></li>
                    <span>|</span>
                    <li class=""><a href="#industry">Industry</a></li>
                    <span>|</span>
                    <li class=""><a href="#awards">Awards</a></li>

                    <span>|</span>
                     <li class=""><a href="#services">Services</a></li>
                    <span>|</span>
                    <li class=""><a href="#misc">Misc</a></li>
<!--                    <span>|</span>-->
<!--                    <li class=""><a href="#awards">Awards</a></li>-->
<!--                    <span>|</span>-->
<!--                    <li class=""><a href="#teaching">Teaching</a></li>-->
<!--                     <span>|</span>-->
<!--                     <li class=""><a href="#services">Services</a></li>-->
                </ul>
            </div>
        </div>
        <div id="site_content">
            <!-- <div class="sidebar"> -->

            <!-- </div> -->
            <!-- <div id="content"> -->
            <!-- insert the page content here -->

            <!-- updates -->
            <!-- <a name='news' style='text-decoration: none'>
                <h1><i class="fa fa-list-alt"></i> News</h1>
            </a>
            <ul style="list-style-type: disc;">
                <li>2021/12, our work <span class='text_block highlight'><a href=''>CurvingLoRa</a></span> got accepted by USENIX NSDI 2022.</li>
                </li>
                <li>2021/12, our work <span class='text_block highlight'><a href=''>PyramidFL</a></span> got accepted by ACM MobiCom 2022.</li>
                <li>2021/11, our work
                    <span class='text_block highlight'><a href=''>CurveMAC</a></span> got accepted by IEEE INFOCOM 2022.
                </li>
                <li>2021/11, our work <span class='text_block highlight'><a href='https://dl.acm.org/doi/abs/10.1145/3485730.3485928'>NELoRa</a></span> won the <span class='text_block highlight'><strong> <a target="blank" href="papers/sensys_award.pdf">Best Paper Award</a></strong></span>                    at ACM SenSys'21.</li>
            </ul> -->
            <!-- biography -->
            <a name='intro' style='text-decoration: none'>
<!--                <h1><i class="fa fa-user"></i> Biography</h1>-->
                <h1> Introduction</h1>
            </a>
            <!-- <p class='text_block' >
                I am a final-year Ph.D. candidate at
                the <a href='https://cs.gmu.edu/'>Department of Computer Science</a>, <a href='https://gmu.edu/'>George Mason University</a>, where I am fortunate to be advised by Dr. <a href='https://cs.gmu.edu/~bohan/'>Bo Han</a>.
                I am also currently a researcher at <a href="https://en.wikipedia.org/wiki/Meta_Platforms">Meta</a>, working on building next-generation network infrastructure for human–GenAI interaction.
                Prior to joining Mason, I got a B.S. degree in computer science in 2021.
                My name in Cantonese (<a href='https://en.wikipedia.org/wiki/Hong_Kong_Government_Cantonese_Romanisation'>HKGCR</a>) is Yui-Chi Shing.


            </p> -->
            <p class='text_block'>
                My current research focuses on building large-scale, learning-based, real-time intelligent 
                networked systems for emerging communication paradigms such as immersive telepresence and human–GenAI interaction. 
                In the past, I also have extensive experience in security & privacy and human-computer interaction (HCI).

                
                <!-- I am a systems researcher focused on enhancing utility, efficiency, user experience, and security & privacy in mobile augmented, virtual, and mixed reality (AR/VR/MR) systems, 
                drawing on interdisciplinary expertise such as computer networks, mobile computing, security & privacy, computer vision/graphics, and deep learning. -->

            </p>
            <p class='text_block'>

                I have been the first author of several papers on a wide range of topics published in top-tier conferences, including bandwidth-conserving immersive telepresence 
                <a href="https://dl.acm.org/doi/10.1145/3666025.3699344">(ACM SenSys 2024)</a>, privacy-preserving user authentication in VR with federated learning <a href="https://dl.acm.org/doi/10.1145/3666025.3699322">(ACM SenSys 2024)</a>, 
                network measurement study on commercial social VR <a href="https://dl.acm.org/doi/abs/10.1145/3517745.3561417">(ACM IMC 2022)</a>, immersive telepresence <a href="https://doi.org/10.1145/3646547.3689006">(ACM IMC 2024)</a>, real-time GenAI calling (ACM IMC 2025) platforms, 
                and the deployment of a real-world VR-based online education system <a href="https://ieeexplore.ieee.org/document/10494173">(IEEE VR 2024)</a>.
                I received the <a target="blank" href="./photo/metabuild_award.png">Best Paper Award</a> from IEEE MetaBuild 2022 and the <a target="blank" href="./photo/sensys_award.png">Best Paper Runner-up Award</a> from ACM SenSys&nbsp;2024.
            </p>

            <a name='pub' style='text-decoration: none;'>
<!--                <h1><i class="fa fa-file-text"></i> Publications</h1>--> 
            <h1>Selected Publications</h1>
            
            </a>
         
            <div class="text_block">
                Only publications accepted to top-tier conferences, as ranked by <a href="https://csrankings.org">CSRankings</a>, are listed here.
                <br>
                For a complete list of my publications, please visit my <a target="_blank" href="https://scholar.google.com/citations?user=u0ZFxFsAAAAJ&hl=en">Google Scholar</a> and <a target="_blank" href="https://dblp.org/pid/312/6541.html">DBLP</a> profiles.
                <!-- Publications marked with (TC) were accepted to top-tier conferences based on <a href="https://csrankings.org">CSRankings</a>. -->
                <br><br>
            </div>
            
            

            <!-- <div class="text_block">
                [<span class="booktitle">ACM HotMobile 2025</span>]
                <a class="btn btn-primary-outline btn-meta" href="">
                    <i class="fa fa-file-pdf-o">&nbsp;</i>PDF
                </a>
                <br>
                Nan Wu*, Weikai Lin*, <u>Ruizhi Cheng*</u>, Bo Chen, Yuhao Zhu, Klara Nahrstedt, Bo Han. "<a target="_blank" href=""> Advancing Immersive Content Delivery with Dynamic 3D Gaussian Splatting</a>"*: Equal contribution.
                <br><br>
            </div> -->

            <div class="text_block">
                [<span class="booktitle">ACM SenSys 2024</span>]
                <a class="btn btn-primary-outline btn-meta" href="./papers/SenSys_2024_MagicStream.pdf">
                    <i class="fa fa-file-pdf-o">&nbsp;</i>PDF
                </a>
                <br>
                <u>Ruizhi Cheng</u>, Nan Wu, Vu Le, Eugene Chai, Matteo Varvello, Bo Han. "<a target="_blank" href="https://dl.acm.org/doi/10.1145/3666025.3699344">MagicStream: Bandwidth-conserving Immersive Telepresence via Semantic Communication</a>"
                <font color = "red">[Best Paper Runner-up]</font>
                <br><br>
            </div>

            <div class="text_block">
                [<span class="booktitle">ACM SenSys 2024</span>]
                <a class="btn btn-primary-outline btn-meta" href="./papers/SenSys_2024_MetaFL.pdf">
                    <i class="fa fa-file-pdf-o">&nbsp;</i>PDF
                </a>
                <br>
                <u>Ruizhi Cheng</u>, Yuetong Wu, Ashish Kundu, Hugo Latapie, Myungjin Lee, Songqing Chen, Bo Han. "<a target="_blank" href="https://dl.acm.org/doi/10.1145/3666025.3699322">MetaFL: Privacy-preserving User Authentication in Virtual Reality with Federated Learning</a>"
                <br><br>
            </div>

            <div class="text_block">
                [<span class="booktitle">ACM IMC 2024</span>]
                <a class="btn btn-primary-outline btn-meta" href="./papers/IMC_2024_Vision_Pro.pdf">
                    <i class="fa fa-file-pdf-o">&nbsp;</i>PDF
                </a>
                <br>
                <u>Ruizhi Cheng*</u>, Nan Wu*, Matteo Varvello, Eugene Chai, Songqing Chen, Bo Han. "<a target="_blank" href="https://doi.org/10.1145/3646547.3689006">A First Look at Immersive Telepresence on Apple Vision Pro</a>"
                *: Equal contribution.
                <br><br>
            </div>

            <div class="text_block">
                [<span class="booktitle">IEEE VR 2024</span>]
                <a class="btn btn-primary-outline btn-meta" href="./papers/VR_2024_Hubs.pdf">
                    <i class="fa fa-file-pdf-o">&nbsp;</i>PDF
                </a>
                <a class="btn btn-primary-outline btn-meta" href="https://github.com/felixshing/Hubs_VR2024"><i
                    class="fa fa-solid fa-code">&nbsp;</i>Code</a>
                <br>
                <u>Ruizhi Cheng</u>, Erdem Murat, Lap-Fei Yu, Songqing Chen, Bo Han. "<a target="_blank" href="https://ieeexplore.ieee.org/document/10494173">Understanding Online Education in Metaverse: Systems and User Experience Perspectives</a>"
                <br><br>
            </div>
            
            <span class="text_block">
                [<span class="booktitle">ACM IMC 2022</span>]
            <a class="btn btn-primary-outline btn-meta" href="./papers/IMC_2022_Metaverse.pdf">

                <i class="fa fa-file-pdf-o">&nbsp;</i>PDF</a>


            <!-- <a class="btn btn-primary-outline btn-meta" href="./slides/IMC_Metaverse.pptx">
                <i class="fa fa-file-powerpoint-o">&nbsp;</i>Slides</a> -->
            

                

                 <a class="btn btn-primary-outline btn-meta" href="https://github.com/felixshing/Metaverse_IMC2022"><i
                            class="fa fa-solid fa-code">&nbsp;</i>Code</a>
        <br>
                <u>Ruizhi Cheng</u>, Nan Wu, Matteo Varvello, Songqing Chen, Bo Han.
            "<a target="blank" href="https://dl.acm.org/doi/abs/10.1145/3517745.3561417">Are We Ready for Metaverse? A Measurement Study of Social Virtual Reality Platforms</a>"

           <br><br>
           
           <div class="text_block">
            [<span class="booktitle">ACM MobiCom 2025</span>]
            <a class="btn btn-primary-outline btn-meta" href="">
                <i class="fa fa-file-pdf-o">&nbsp;</i>PDF
            </a>
            <br>
            Nan Wu, Bo Chen, <u>Ruizhi Cheng</u>, Klara Nahrstedt, Bo Han. "<a target="_blank" href="">NeVo: Advancing Volumetric Video Streaming with Neural Content Representation</a>"
            <br><br>
        </div>

        <div class="text_block">
            [<span class="booktitle">ACM SenSys 2025</span>]
            <a class="btn btn-primary-outline btn-meta" href="">
                <i class="fa fa-file-pdf-o">&nbsp;</i>PDF
            </a>
            <br>
            Nan Wu, <u>Ruizhi Cheng</u>, Songqing Chen, Bo Han. "<a target="_blank" href="">PIPE: Privacy-preserving 6DoF Pose Estimation for Immersive Applications</a>"
            <br><br>
        </div>

        <div class="text_block">
            [<span class="booktitle">ACM WWW 2025</span>]
            <a class="btn btn-primary-outline btn-meta" href="">
                <i class="fa fa-file-pdf-o">&nbsp;</i>PDF
            </a>
            <br>
            Ruizhe Shi, <u>Ruizhi Cheng</u>, Yuqi Fu, Bo Han, Yue Cheng, Songqing Chen. "<a target="_blank" href="">Centralization in Decentralized Web: Challenges and Opportunities in IPFS’s Data Management</a>"
            <br><br>
        </div>


            <div class="text_block">
                [<span class="booktitle">ACM MobiSys 2024</span>]
                <a class="btn btn-primary-outline btn-meta" href="./papers/Theia_2024_MobiSys.pdf">
                    <i class="fa fa-file-pdf-o">&nbsp;</i>PDF
                </a>
                <br>
                Nan Wu, Kaiyan Liu, <u>Ruizhi Cheng</u>, Bo Han, Puqi Zhou. "<a target="_blank" href="https://dl.acm.org/doi/10.1145/3643832.3661858">Theia: Gaze-driven and Perception-aware Volumetric Content Delivery for Mixed Reality Headsets</a>"
                <br><br>
            </div>
            
            
            <div class="text_block">
                [<span class="booktitle">ACM SIGMETRICS 2024</span>]
                <a class="btn btn-primary-outline btn-meta" href="./papers/IPFS_2024_SIGMETRICS.pdf">
                    <i class="fa fa-file-pdf-o">&nbsp;</i>PDF
                </a>
                <br>
                Ruizhe Shi, <u>Ruizhi Cheng</u>, Bo Han, Yue Cheng, Songqing Chen. "<a target="_blank" href="https://dl.acm.org/doi/10.1145/3656015">A Closer Look into IPFS: Accessibility, Content, and Performance</a>"
                <br><br>
            </div>
           
            
            


            <!-- <span class="text_block">
                [<span class="booktitle">ACM HotNets 2023</span>]
            <a class="btn btn-primary-outline btn-meta" href="./papers/HotNets_2023_Semantic.pdf">

                <i class="fa fa-file-pdf-o">&nbsp;</i>PDF</a>

            <br>
            <u>Ruizhi Cheng</u>, Kaiyan Liu, Nan Wu, Bo Han.
            "<a target="blank" href="https://doi.org/10.1145/3626111.3628184">Enriching Telepresence with Semantic-driven Holographic Communication</a>"
            <br><br> -->

             <!-- <span class="text_block">
                    [<span class="booktitle">ACM ImmerCom 2023</span>]
                <a class="btn btn-primary-outline btn-meta" href="./papers/ImmerCom_2023_NEVO.pdf">

                    <i class="fa fa-file-pdf-o">&nbsp;</i>PDF</a>

                   <br>
                   Kaiyan Liu*, <u>Ruizhi Cheng*</u>, Nan Wu*, Bo Han.
                "<a target="_blank" href="https://dl.acm.org/doi/10.1145/3615452.3617938">Toward Next-generation Volumetric Video Streaming with Neural-based Content Representations</a>"
                 *: Equal contribution.

               <br><br> -->


            <!-- <span class="text_block">
                    [<span class="booktitle">IEEE Communication</span>]
                <a class="btn btn-primary-outline btn-meta" href="./papers/Communication_2024_MetaGuard.pdf">

                    <i class="fa fa-file-pdf-o">&nbsp;</i>PDF</a>

                   <br>
                    <u>Ruizhi Cheng</u>, Songqing Chen, Bo Han.
                "<a target="_blank" href="https://ieeexplore.ieee.org/document/10138335">Towards Zero-trust Security for the Metaverse</a>"

               <br><br> -->

            

                 <!-- <span class="text_block">
                    [<span class="booktitle">IEEE Metabuild 2022</span>]
                <a class="btn btn-primary-outline btn-meta" href="./papers/Metabuild_2022_Workrooms.pdf"><i
                                                class="fa fa-file-pdf-o">&nbsp;</i>PDF</a>

                    <a class="btn btn-primary-outline btn-meta" href="./slides/Metabuild_Workrooms.pptx">
                    <i class="fa fa-file-powerpoint-o">&nbsp;</i>Slides</a> 


                          <a class="btn btn-primary-outline btn-meta" href="./errata/errata_metabuild.pdf"><i
                                                class="fa fa-file-pdf-o">&nbsp;</i>Errata</a>

                 <br>
                    <u>Ruizhi Cheng</u>, Nan Wu, Songqing Chen, Bo Han. "<a target="blank" href="https://ieeexplore.ieee.org/document/9757549/">Reality Check of Metaverse: A First Look at Commercial Social Virtual Reality Platforms</a>"
               <br><br>
                [<span class="booktitle">IEEE Network</span>]
                    <a class="btn btn-primary-outline btn-meta" href="./papers/Network_2023_NextG.pdf"><i
                                        class="fa fa-file-pdf-o">&nbsp;</i>PDF</a>

                 <br>
                    <u>Ruizhi Cheng</u>, Nan Wu, Songqing Chen, Bo Han. "<a target="blank" href="https://arxiv.org/abs/2201.12894">Will Metaverse be NextG Internet? Vision, Hype, and Reality</a>" -->



                 <!-- <br><br>
                [<span class="booktitle">ACM Nossdav 2022</span>] <a class="btn btn-primary-outline btn-meta" href="./papers/NOSSDAV_2022_Privacy.pdf"><i
                        class="fa fa-file-pdf-o">&nbsp;</i>PDF</a>
                 <br>
                    Nan Wu, <u>Ruizhi Cheng</u>, Songqing Chen, Bo Han. "<a target="blank" href="https://dl.acm.org/doi/abs/10.1145/3534088.3534343">Preserving Privacy in Mobile Spatial Computing</a>"
                <br><br>
                </span> -->

                <a name='industry' style='text-decoration: none'>
                    <h1>Industrial Experience</h1>
                </a>
                <ul style="list-style-type: disc;">
                    <li><span class="booktitle"><a target="blank" href="https://en.wikipedia.org/wiki/Meta_Platforms">Meta</a></span> - Research Collaborator. July 2025 - Current
                    </li>
                </ul>
                <ul style="list-style-type: disc;">
                    <li><span class="booktitle"><a target="blank" href="https://www.bell-labs.com/">Bell Labs</a></span> - Networking Research Intern. June - Aug 2024
                    </li>
                    
                </ul>


            <!-- <a name='awards' style='text-decoration: none'>
                <h1>Honors and Awards</h1>
            </a>

            <p class='text_block'>
                2024, <a target="blank" href="./photo/sensys_award.png">Best Paper Runner-up Award</a>, ACM SenSys
                <br>
                2022, <a target="blank" href="./photo/metabuild_award.png">Best Paper Award</a>, IEEE Metabuild
                <br>
                2022, Student Grant, IEEE VR
                <br>
                2022, Mason Engineers Week Poster Winner
            </p> -->


            <a name='services' style='text-decoration: none'>
                <h1> Professional Services</h1>
            </a>


            <p class='text_block'>
                <span class="subtitle2">Technical Program Committee</span> <br>
                <a target="blank" href="https://immercom.github.io/">ACM ImmerCom 2024</a>
            </p>

            
            <p class='text_block'>
                <span class="subtitle2">Review</span> <br>
                    IEEE VR 2023, ACM UbiComp 2023/2024, IEEE ISMAR 2024/2025, IEEE MetaCom 2024
                    <br>
                    ACM Transactions on Graphics, IEEE/ACM Transactions on Networking, ACM Transactions on Sensor Networks, IEEE Transactions on Circuits and Systems for Video Technology,
                    IEEE Network, IEEE MultiMedia, SAGE Open, Virtual Reality, ACM Transactions on Multimedia Computing, Communications, and Applications, 
                    IEEE Internet of Things Journal, ACM SIGCOMM CCR, IEEE Communication, IEEE Communication Letters
                    <br>
                    
            </p>



            <!-- <a name='misc' style='text-decoration: none'>
                <h1>Miscellaneous</h1>
            </a> -->

            <!-- <p class='text_block'>
                I can fluently speak and type English, Cantonese and Mandarin. Feel free to use any of these languages during our discussion.
                <br>

                Icebreaker topics for me: <a target="blank" href="https://en.wikipedia.org/wiki/Hins_Cheung"> Hins Cheung </a>(<a target="blank" href="https://zh.wikipedia.org/wiki/%E5%BC%B5%E6%95%AC%E8%BB%92">張敬軒</a>), 
                <a target="blank" href="https://en.wikipedia.org/wiki/The_Big_Bang_Theory">The Big Bang Theory</a>, <a target="blank" href="https://en.wikipedia.org/wiki/Brooklyn_Nine-Nine">Brooklyn Nine-Nine</a>, and workout.

              I am a big fan of <a target="blank" href="https://en.wikipedia.org/wiki/Hins_Cheung"> Hins Cheung </a>(<a target="blank" href="https://zh.wikipedia.org/wiki/%E5%BC%B5%E6%95%AC%E8%BB%92">張敬軒</a>), a singer from Hong Kong. -->
                





<!--            <a name='teaching' style='text-decoration: none'>-->
<!--                <h1><i class="fas fa-microphone-alt"></i> Teaching Experience</h1>-->
<!--            </a>-->
<!--            <ul style="list-style-type: disc;">-->
<!--                <li>Teaching Assistant: CSE220 - Programming in C (Spring 2021, MSU)-->
<!--                </li>-->
<!--                <li>Guest Lecturer: CSE891 - AIoT: Artificial Intelligence in the Edge (Spring 2020 / Fall 2021, MSU)-->
<!--                </li>-->
<!--            </ul>-->



            <!-- <a name='links' style='text-decoration: none'>
                <h1><i class="fa fa-external-link-square"></i> Useful Links</h1>
            </a>
            <ul>
                <li><i class="fa fa-external-link"></i> <a target='blank' href="/conference/">Upcoming
						Conferences</a></li>
                <li><i class="fa fa-external-link"></i> <a target='blank' href="http://www.cs.ucsb.edu/~almeroth/conf/stats/" target='blank'>Networking Conferences
						Statistics</a></li>
            </ul> -->
        </div>
        <!-- End of content -->
        <div id="footer">
            <p>
                <!-- <br>
                Nullum intentatum relinquere lapidem | Per Aspera Ad Astra
                <br>
                Il n'ya qu'un héroïsme au monde : c'est de voir le monde tel qu'il est et de l'aimer
                <br> -->
                <!-- 每一天都有所為才能毋負過晚上
                <br> -->
                Last Updated: 08/2025 | Template from Chenning Li</p>


        </div>


    </div>
</body>

</html>